<div class="row content-row">

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Computer/Software</h3>
                <ul>
                    <li>Mac Pro Quad 4</li>
                    <li>Pro Tools 11 and 10</li>
                    <li>Melodyne Studio Bundle</li>
                    <li>UAD plug ins</li>
                    <li>Waves plug ins</li>
                    <li>Izotope plug ins</li>
                    <li>Adobe Suite</li>
                    <li>Finale</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Monitor System</h3>
                <ul>
                    <li>(2) Yamaha NS-10M Studio monitors</li>
                    <li>(2) Event 20/20 studio monitors</li>
                    <li>Bryston 4B Power Amp</li>
                    <li>Mackie Big Knob</li>
                    <li>Furman HDS-6 Headphone Distribution System</li>
                    <li>(4) HR-6 &nbsp;Remote mixing station</li>
                    <li>(3) Sony MDR-7506 Headphones</li>
                    <li>Senheiser HD280Pro Headphones</li>
                    <li>AKG K240 MK II Headphones</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Recording Devices/Console</h3>
                <ul>
                    <li>Lynx Aurora 16</li>
                    <li>Mackie 32-8</li>
                    <li>Ederol R4</li>
                    <li>Tascam 788</li>
                    <li>Magnicord 1022 1/4” Reel to Reel</li>
                    <li>Yamaha 4 track cassette recorder</li>
                    <li>Presonus Faderport</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row content-row">

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Mic Pres</h3>
                <ul>
                    <li>(2) API 512c</li>
                    <li>(2) Great River mp-500nv</li>
                    <li>Presonus DigiMax D8</li>
                    <li>ADA MP-1</li>
                    <li>CountryMan DI</li>
                    <li>Radial ReAmp/DI</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Condensor Mics</h3>
                <ul>
                    <li>(2) AKG 451 (matched Pair)</li>
                    <li>(2) Sure SM81</li>
                    <li>Audio Technica AT4050</li>
                    <li>(2) Gauge U8A</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Dynamic Mics</h3>
                <ul>
                    <li>(6) Sure SM57</li>
                    <li>Sure SM58</li>
                    <li>(2) Senheiser MD 421</li>
                    <li>AKG D112</li>
                    <li>Audix D6</li>
                    <li>Electro Voice RE-15</li>
                    <li>Electro Voice RE-16</li>
                    <li>Electro Voice RE-20</li>
                    <li>Electro Voice DO54</li>
                    <li>(2) Taylor</li>
                </ul>
            </div>
        </div>
    </div>
        
</div>

<div class="row content-row">
    
    <div class="col-md-4 wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: none; -webkit-animation-name: none;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Keyboards</h3>
                <ul>
                    <li>Hammond M3</li>
                    <li>Fender Rhodes</li>
                    <li>Upright Piano</li>
                    <li>Casio CTK-533</li>
                    <li>Roland SH-01</li>
                    <li>Korg Triton LE</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: none; -webkit-animation-name: none;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Drums</h3>
                <ul>
                    <li>Tama Royal Star</li>
                    <li>Gretch Catilina Custom</li>
                    <li>Roland V drums</li>
                    <li>various aux percussion</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: none; -webkit-animation-name: none;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Samplers/Sequencers</h3>
                <ul>
                    <li>MPC studio</li>
                    <li>MPC 4000</li>
                    <li>Korg ES-1</li>
                    <li>Roland TR-707</li>
                </ul>
            </div>
        </div>
    </div>
     
</div>

<div class="row content-row"> 

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
            <h3 class="media-heading">Outboard Gear</h3>
            <ul>
                <li>Drawmer DS 201</li>
                <li>(2) Dbx 160x</li>
                <li>Dbx 166</li>
                <li>ADA Digital Delay</li>
                <li>DigiTech Studio Quad</li>
            </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: none; -webkit-animation-name: none;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Effects</h3>
                <ul>
                    <li>Fender Phaser</li>
                    <li>Digitech Whammy</li>
                    <li>Frantone Vibutron</li>
                    <li>FuzzFace</li>
                    <li>Crybaby</li>
                    <li>Envelope Filter</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Video</h3>
                <ul>
                    <li>Cannon T2i</li>
                    <li>Mattews green screen (20x20')</li>
                </ul>
            </div>
        </div>
    </div>   
     
</div>
