<div class="row content-row">

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Computer/Software</h3>
                <ul>
                    <li>Mac Pro Quad 4</li>
                    <li>Pro Tools 11 and 10</li>
                    <li>Melodyne Studio Bundle</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Monitor System</h3>
                <ul>
                    <li>(2) Yamaha NS-10M Studio monitors</li>
                    <li>(2) Event 20/20 studio monitors</li>
                    <li>Bryston 4B Power Amp</li>
                    <li>Mackie Big Knob</li>
                    <li>Furman HDS-6 Headphone Distribution System</li>
                    <li>(4) HR-6 &nbsp;Remote mixing station</li>
                    <li>(4) Sony MDR-7506 Headphones</li>
                    <li>Senheiser HD280Pro Headphones</li>
                    <li>AKG K240 MK II Headphones</li>
                    <li>Peavy CS-400</li>
                    <li>QSC GX3</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Recording Devices/Console</h3>
                <ul>
                    <li>Lynx Aurora 16</li>
                    <li>Mackie 32-8</li>
                    <li>Ederol R4</li>
                    <li>Tascam 788</li>
                    <li>Magnicord 1022 1/4” Reel to Reel</li>
                    <li>Yamaha 4 track cassette recorder</li>
                    <li>Presonus Faderport</li>
                    <li>Sonuus i2M</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row content-row">

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Mic Pres</h3>
                <ul>
                    <li>(2) API 512c</li>
                    <li>(2) Great River mp-500nv</li>
                    <li>Presonus DigiMax D8</li>
                    <li>CountryMan DI</li>
                    <li>Radial ReAmp/DI</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Condensor Mics</h3>
                <ul>
                    <li>(2) AKG 451 (matched Pair)</li>
                    <li>(2) Sure SM81</li>
                    <li>Oktava Mc 012-01 A.S.M.</li>
                    <li>Audio Technica AT4050</li>
                    <li>(2) Beringer B1</li>
                    <li>(2) Gauge U8A</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Dynamic Mics</h3>
                <ul>
                    <li>(6) Sure SM57</li>
                    <li>Sure SM58</li>
                    <li>(2) Senheiser MD 421</li>
                    <li>AKG D112</li>
                    <li>Audix D6</li>
                    <li>Electro Voice RE-15</li>
                    <li>Electro Voice RE-16</li>
                    <li>Electro Voice RE-20</li>
                    <li>Electro Voice DO54</li>
                    <li>(2) Taylor</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="row content-row">

    <div class="col-md-4 wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: none; -webkit-animation-name: none;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Keyboards</h3>
                <ul>
                    <li>Fender Rhodes</li>
                    <li>Hammond M3</li>
                    <li>Acrosonic Upright Piano </li>
                    <li>Roland SH-01</li>
                    <li>Roland D-50</li>
                    <li>Korg Triton LE</li>
                    <li>Casio CTK-533</li>
                    <li>Kong nanoKEY2</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: none; -webkit-animation-name: none;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Drums</h3>
                <ul>
                    <li>Tama Royal Star</li>
                    <li>Gretch Catilina Custom</li>
                    <li>Roland V drums</li>
                    <li>various aux percussion</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: none; -webkit-animation-name: none;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Samplers/Sequencers</h3>
                <ul>
                    <li>MPC studio</li>
                    <li>MPC 4000</li>
                    <li>Korg ES-1</li>
                    <li>Roland TR-707</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="row content-row">

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
            <h3 class="media-heading">Outboard Gear</h3>
            <ul>
                <li>Drawmer DS 201</li>
                <li>(2) Dbx 160x</li>
                <li>Dbx 166</li>
                <li>ADA Digital Delay</li>
                <li>DigiTech Studio Quad</li>
            </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: none; -webkit-animation-name: none;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Guitar Pedals</h3>
                <ul>
                    <li>Fender Phaser</li>
                    <li>Digitech Whammy</li>
                    <li>Frantone Vibutron</li>
                    <li>FuzzFace</li>
                    <li>Crybaby</li>
                    <li>Envelope Filter</li>
                    <li>Vox V847 Wah-Wah</li>
                    <li>Ibanez Thrashmetal Soundtank</li>
                    <li>Zoom 505 guitar</li>
                    <li>MXR Blue Box</li>
                    <li>Live Wire ABY1</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: none; -webkit-animation-name: none;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Guitar Amps/ Cabs</h3>
                <ul>
                    <li>ADA MP-1 w/MC-1 controller</li>
                    <li>Rocktron Chameleon</li>
                    <li>Yamaha G100-B212</li>
                    <li>Fender Rumble 15</li>
                    <li>custom tube amp</li>
                    <li>Sound Craft L56B</li>
                    <li>Line 6 AX2-212</li>
                    <li>Marshall 4 x 12 cabinet</li>
                    <li>(2) 1 x 15 custom cabinet</li>
                    <li>(2) 1 x 12 custom cabiinet</li>
                    <li>ADA B200S</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="row content-row">

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Plug-ins : EQ</h3>
                <ul>
                    <li>Fab-Filter Pro-Q 2</li>
                    <li>Eiosis Air EQ Premium</li>
                    <li>UAD Maag EQ4</li>
                    <li>UAD Helios 69</li>
                    <li>UAD Pultec EQP - 1A Legacy</li>
                    <li>UAD Pultec-Pro Legacy</li>
                    <li>Waves Q1, Q2, Q3, Q4, Q6, Q8, Q10 </li>
                    <li>Waves REQ2, REQ4, REQ6</li>
                    <li>Waves RBass</li>
                    <li>Blue Cat Triple EQ</li>
                    <li>EQ3 1Band</li>
                    <li>EQ3 7Band</li>
                    <li>T-RackS CS Classic EQ</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Plug-ins : Dynamics</h3>
                <ul>
                    <li>UAD Elysia Alpha Master</li>
                    <li>UAD Elysia Alpha Mix</li>
                    <li>UAD Elysia Impressor</li>
                    <li>UAD SSL G Bus Compressor</li>
                    <li>UAD Teletronix LA-2A Legacy</li>
                    <li>UAD UA 1777LN Legacy</li>
                    <li>UAD UA 1776SE Legacy</li>
                    <li>Waves Vocal Rider</li>
                    <li>Waves OneKnob Pumper</li>
                    <li>Waves OneKnob Driver</li>
                    <li>Waves OneKnob Pressure</li>
                    <li>Waves OneKnob Pumper</li>
                    <li>Waves Renaissance Axx</li>
                    <li>Waves RCompressor</li>
                    <li>Waves RDeEsser</li>
                    <li>Waves RVox</li>
                    <li>Waves Factory Trackspacer</li>
                    <li>BF-76</li>
                    <li>Blue Cat Gain 3</li>
                    <li>Dyn3 Compressor/Limiter</li>
                    <li>Dyn3 De-Esser</li>
                    <li>Dyn3 Expander/Gate</li>
                    <li>Maxim</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Plug-ins : Multi Effects</h3>
                <ul>
                    <li>IZotope Alloy 2</li>
                    <li>IZotope Nectar Elements</li>
                    <li>Waves CLA Bass</li>
                    <li>Waves CLA Drums</li>
                    <li>Waves CLA Effects</li>
                    <li>Waves CLA Guitars</li>
                    <li>Waves CLA Unplugged</li>
                    <li>Waves CLA Vocals</li>
                    <li>Waves RChannel</li>
                    <li>Channel Strip</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="row content-row">

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Plug-ins : Instrument</h3>
                <ul>
                    <li>eFX Nexus 2</li>
                    <li>Native Instruments Kontakt</li>
                    <li>Native Instruments Reaktor</li>
                    <li>Akai MPC Studio</li>
                    <li>Metric Halo Thump</li>
                    <li>Vielklang 2</li>
                    <li>VPS Phalanx</li>
                    <li>Waves ReWire</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Plug-ins : Reverb</h3>
                <ul>
                    <li>UAD Lexicon 224</li>
                    <li>UAD AMS RMX-16</li>
                    <li>UAD RealVerb-Pro</li>
                    <li>Waves IR-L efficient</li>
                    <li>Waves IR-L full</li>
                    <li>Waves R-Verb</li>
                    <li>D-Verb</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Plug-ins : Delay</h3>
                <ul>
                    <li>Waves H-Delay</li>
                    <li>Waves Super Tap 2-Taps</li>
                    <li>Waves Super Tap 6-Taps</li>
                    <li>Time Adjuster</li>
                    <li>Mod Delay III</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="row content-row">

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Plug-ins : Modulation</h3>
                <ul>
                    <li>Acon Digital Multiply</li>
                    <li>Blue Cat Chorus 4</li>
                    <li>Blue Cat Flanger 3</li>
                    <li>Blue Cat Phaser 3</li>
                    <li>Sci-Fi</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Plug-ins : Harmonic</h3>
                <ul>
                    <li>Softube Saturation Knob</li>
                    <li>Slate Trigger 2</li>
                    <li>Metric Halo MH Thump</li>
                    <li>Recti-Fi</li>
                    <li>SansAmp PSA-1</li>
                    <li>AmpliTube 3</li>
                    <li>Lo-Fi</li>
                    <li>Eleven Free</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Plug-ins : Other</h3>
                <ul>
                    <li>Dither</li>
                    <li>Waves IDR</li>
                    <li>Pow-r Dither</li>
                    <li>DownMixer</li>
                    <li>AutoPan</li>
                    <li>Blue Cat FreqAnalyist 2</li>
                    <li>MasterMeter</li>
                    <li>MMultiAnalyizer</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="row content-row">

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Plug-ins : Pitch Shift</h3>
                <ul>
                    <li>Celemony Melodyne Studio Editor</li>
                    <li>Pitch II</li>
                    <li>WavesTune Lite</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: none; -webkit-animation-name: none;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Other</h3>
                <ul>
                    <li>Digitech Jam Man Vocal xt</li>
                    <li>AKG Mini Pro SR40</li>
                    <li>Cordovox CL20</li>
                    <li>Midiman Midisport 2x2</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading">Video</h3>
                <ul>
                    <li>Cannon T2i</li>
                    <li>Mattews green screen (20x20')</li>
                </ul>
            </div>
        </div>
    </div>
</div>
